.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Adding new Styles - Priyanshu Patidar */
.chatInputBox{
  border-top: 1px solid #282c34;
  padding: 0;
}
.chatMessages{
  overflow-y: scroll;
  max-height: 400px;
  min-height: 400px;
  overflow-x: clip;
  margin-left:1%;
  margin-top: 8px;
}
.chatMessages::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.chatMessages {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.chatTextInput{
  border:none;
  white-space:break-spaces ;
  resize: none;
}
.chatTextInput:focus{
  border: none;
  outline: none;
  white-space: initial;
}
.loader-wrapper {
  background: #fff;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loder-crcil {
  box-shadow: 3px 0 0px #000;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: loader 1s linear infinite;
}

.text {
  box-shadow: 0 0 2px #afaaaa;
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  font-family: fantasy;
  font-size: 13px;
  letter-spacing: 0.5px;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  0% {
    transform: rotate(360deg);
  }
}
.navbar-expand-lg .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
  flex-direction: row-reverse;
}